<a href="https://colab.research.google.com/github/fersobralok/data-science/blob/main/Notebook001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Acá comenzamos a escribir algo

Este notebook editor es bastante malo

In [7]:
#arrancamos comentando
entero = 34 - 23
cadena = 'Hola'
decimal = 3.45
if decimal == 3.45 or cadena == 'Hola':
  entero = entero + 1
  cadena = cadena + 'Mundo'
print(entero)
print(cadena)

12
HolaMundo

Ahora vamos a incluir un input

In [3]:
valor = input('Ingrese valor a imprimir: ')
print('El valor tipeado es ' + valor)

Ingrese valor a imprimir: perico
El valor tipeado es perico

Vamos por ejercicios con tuplas, listas y strings. Primero definimos las variables.

In [18]:
tupla1 = (2, 4, 6, 8)
tupla2 = (20, 40, 60, 80)
lista1 = [1, 3, 5, 7]
lista2 = [10, 30, 50, 70]
print(tupla1)
print(tupla2)
print(lista1)
print(lista2)

(2, 4, 6, 8)
(20, 40, 60, 80)
[1, 3, 5, 7]
[10, 30, 50, 70]

Hacemos algunas operaciones. Multiplicación de tupla por escalar y suma de tuplas.

In [20]:
print(tupla1 * 3 + tupla2 * 2)
print(tupla1[2])

(2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 20, 40, 60, 80, 20, 40, 60, 80)
6

Cambio de valor en elemento de lista. En tupla no se puede hacer. Luego Operamos.

In [22]:
#Cambiamos el valor del 3er elemento
lista1[2] = 6

print('lista1 es ' + str(lista1))
print('lista2 es ' + str(lista2))
lista1+=lista2
print('lista1 es ' + str(lista1))

lista1 es [1, 3, 6, 7, 10, 30, 50, 70, 10, 30, 50, 70]
lista2 es [10, 30, 50, 70]
lista1 es [1, 3, 6, 7, 10, 30, 50, 70, 10, 30, 50, 70, 10, 30, 50, 70]